{
  "name": "@natsuki/module-levels",
  "version": "0.1.0",
  "description": "Leveling system module.",
  "main": "dist/index.js",
  "types": "dist/index.d.ts",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "repository": {
    "type": "git",
    "url": "git+https://github.com/NatsukiBot/module-levels.git"
  },
  "author": "Tanner Goins",
  "license": "GPL-3.0",
  "bugs": {
    "url": "https://github.com/NatsukiBot/module-levels/issues"
  },
  "homepage": "https://github.com/NatsukiBot/module-levels#readme",
  "devDependencies": {
    "@types/node": "^9.6.1",
    "@types/winston": "^2.3.9",
    "eslint": "^4.19.1",
    "standard": "^11.0.1",
    "tslint": "^5.9.1",
    "tslint-config-standard": "^7.0.0",
    "typedoc": "^0.11.1",
    "typescript": "^2.8.1"
  },
  "dependencies": {
    "@natsuki/db": "github:NatsukiBot/db",
    "@natsuki/util": "github:natsukibot/util",
    "axios": "^0.18.0",
    "discord.js": "github:discordjs/discord.js#master",
    "discord.js-commando": "github:discordjs/Commando#master"
  }
}
